**/*.env
**/target
**/out
**/cache
**/out-echidna
**/cache-echidna
**/.DS_Store
**/broadcast
**/.certora_internal
.vscode
**/crytic-export/
**/echidna-corpus/

arkhe-substrato-1010-zkcbdc/**/__pycache__/
__pycache__/
*.pyc
a.out
fix_verilog.py
parse_user_input.py
split_input.py
